@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


footer {
    overflow:hidden;
    text-align: center;
    background-color: rgb(106, 60, 0);
    width: 100%;
    height:100px;
    padding: 1em 0em 0em 0em;
    padding-bottom:20px;
    font-family: 'Noto Sans KR';
    color:rgb(255, 234, 150);
}
footer > hr {
    width: 100%;
    color:rgb(255, 234, 150);
    opacity:.2;
    padding-top:0px;
}
footer a:visited, footer a:link { color:white; text-decoration:none;}

.copyrights {
    width: 100%;
    padding-bottom:30px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    font-size:11px;
}
.copyrights h3 {color: #a3bce1;}
footer ul { float: left; margin: 0px 0px 0px 0px; padding-left:0px;
margin-bottom:20px;}
footer li { position:relative; display: inline-block; margin-top:0px;padding:0px 10px 0 10px;}
footer h2{font-size: 18px; }
footer h3{ font-family: 'Noto Sans KR';}

@media screen and (max-width: 1023px) {
    footer h2{font-size: 13px;}
    footer h3{margin-top:10px;}
    .copyrights {font-size:11px; margin-left: 0px; padding: 0 0 20 0px;}
}
@media screen and (max-width: 767px) {
    footer {height:70px;}
    footer li { display: block; padding: 0px 0 10px 0px; }
    footer h2{font-size: 11px; padding: 0 0 0 0px;}
    footer h3{margin-top:10px;}
    .copyrights {font-size:9px; margin-left: 0px; padding-bottom: 10px;}
}
